ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.brand, .post, .login {
    font-weight: 300;
    margin: 0 5px;
}

.post, .login {
    /* color: #ff4081; */
    font-weight: 400;
    margin: 0 5px;
    font-size: 1rem;
}

.post:hover, .login:hover {
    color: #ff4081;
}


ul {
    display: flex;
}