mat-form-field {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

.error {
    color: #f44336;
    font-size: 75%;
}

mat-error {
    font-size: 12px;
}

.mat-raised-button {
    margin-top: 20px;
  }
  